<!DOCTYPE html>
<html>

<head>
  <title>Webservices</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-center">
      <a class="navbar-brand" href="/">Posts</a>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="list-group">

        <!-- Idem que la page index nous exploitons les informations du tableau "posts" et on affiche les
        informations "title" et "body".
        Puis on envoie également la position de dû commentaires a la route "comments" qui utilisera cette
        position pour afficher les commentaires du post en question. -->
        <%for(var i =0; i<posts.length; i++){%>
        <a href="/comments?id=<%=i+1%>" class="list-group-item list-group-item-action mt-2 mb-2 text-center">
          <h5 class="mb-1"><u><%=posts[i].title%></u></h5>
          <p class="mb-1"><%=posts[i].body%></p>
        </a>
        <%}%>

      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>